<!--Raquel Figueiredo - Teste para Desenvolvimento Front-end (HTML5, utilizando componentes de AngularJS)-->
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="css/main.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body ng-app="myApp" ng-controller="userCtrl">

<div class="container" style="background: linear-gradient(rgb(54, 139, 226), rgba(25, 157, 234, 0.87));">

<h3 style="color: #fff; font-weight: 700; text-align: center;">Teste Fagron - Desenvolvedor Front-end</h3>

<table class="table bordered striped" style="background-color: #fff;">
  <tr>
    <th>Editar</th>
    <th>Nome</th>
    <th>Sobrenome</th>
    <th>Data de Nascimento</th>
    <th>Idade</th>
    <th>Profissao</th>
  </tr>
  <tr ng-repeat="user in users">
    <td>
      <button class="btn ripple" ng-click="editUser(user.id)">&#9998; Editar</button>
    </td>
     
    <td>{{ user.Nome }}</td>
    <td>{{ user.Sobrenome }}</td>
    <td>{{ user.DataNascimento }}</td>
    <td>{{ user.Idade }}</td>
    <td>{{ user.Profissao }}</td>
  </tr>
</table>

<br>

<button class="btn green ripple" ng-click="editUser('new')" style="background-color: #3aad53;">&#9998; Cadastro de Cliente</button>
<form ng-hide="hideform" name="userForm" ng-submit="submitForm()" style="background-color:#f1f1f1; padding: 30px;" novalidate>
  <h3 ng-show="edit">Novo Cliente:</h3>
  <h3 ng-hide="edit">Editar infos:</h3>
    <label>Nome do Cliente:</label>
    <input class="input border" type="text" ng-model="Nome" ng-disabled="!edit" placeholder="Nome" required>
  <br>
    <label>Sobrenome de Cliente:</label>
    <input class="input border" type="text" ng-model="Sobrenome" ng-disabled="!edit" placeholder="Sobrenome" required>
  <br>
    <label>Data Nascimento:</label>
    <input class="input border" type="date" ng-model="DataNascimento" placeholder="Data de Nascimento">
  <br>
    <label>Idade:</label>
    <input class="input border" type="number" ng-model="Idade" placeholder="Idade">
  <br>
  <label>Profissao:</label>
    <input class="input border" type="text" ng-model="passw2" placeholder="Profissao">
    <br>
  <button class="btn green ripple" style="background-color: #3aad53;">&#10004; Salvar</button>
</form>

</div>

<script src= "js/myUsers.js"></script>
<script src= "js/main.js"></script>

</body>
</html>